body {
	background-color: white;
}

.navbar {
	border-radius: 0;
	padding-top: 10px;
    padding-bottom: 10px;
}

.container {
	max-width: 960px;
}

.panel {
	    box-shadow: 4px 4px 10px lightslategrey;
}

.panel-heading {
	position: relative;
}

.input-group {
	float: right;
}

.btn-delete-note {
	float: right;
	margin-left: 10px;
	padding: 2px 8px;
}

textarea {
	width: 100%;
}